.layout{
    @apply h-screen flex;
    background: linear-gradient(180deg, #0575E6 0%, #02298A 84.79%, #021B79 100%);
    .leftContent{
        flex: 6;
    }
    .rightContent{
        flex: 5;
        min-width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}